.container {
  --size: 1.5rem;
  font-size: var(--size);
  width: 2em;
  background-color: var(--color-switch-background);
  height: 1em;
  border-radius: 100vw;
  overflow: hidden;
  position: relative;
  margin: 0.5em auto;
}

.label {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: +1;
  cursor: pointer;
}

.dot {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  background-color: var(--color-switch);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(15%, -50%);
  transition: all 350ms ease-in-out;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .dot {
  transform: translate(150%, -50%);
}
