:root {
  --color-background: #d0ebff;
  --color-text: #000;

  --color-brand-primary: 255, 57, 116;
  --color-brand-primary-light: 34, 139, 230;
  --color-brand-secondary: 200, 32, 52;
  --color-brand-secondary-light: 209, 58, 88;

  --color-switch-background: #97b7d1;
  --color-switch: #ffd43b;

  --color-success: #40c057;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Underdog", cursive;
}

button {
  font-family: inherit;
}

[theme="dark"] {
  --color-background: #000;
  --color-text: #f1f3f5;

  --color-brand-primary: 10, 43, 71;
  --color-brand-primary-light: 17, 17, 17;

  --color-switch-background: #212529;
  --color-switch: #fff9db;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
